h1 {
    font-family:Helvetica;
    font-weight:bold;
    color:khaki;
    text-align:center;
    background: <img src="pattern.jpeg">
}

h3 {
    font-family:Helvetica;
    font-weight:bold;
    color:white;
}

.brushes {
    background-color:mediumspringgreen
}

.frames {
    background-color:lightcoral
}

.paint {
    background-color:skyblue
}

.price {
    font-family:Helvetica;
    font-weight:bold;
    color: blue;
}
